<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments::head">
  <title>Feed</title>
</head>

<body>
<nav th:replace="fragments::navbar"></nav>
<ul class="nav nav-tabs">
  <li class="nav-item" role="presentation" th:classappend="${filter == 'all' ? 'active' : '' }">
    <a class="nav-link active" href="/meeps">All</a></li>
  <li class="nav-item" role="presentation" th:classappend="${filter == 'following' ? 'active' : '' }">
    <a class="nav-link" href="/meeps?filter=following">Following</a></li>
</ul>

<main class="container mt-4">
  <h2>Meeps</h2>
  <div class="list-group" th:each="tweet:${tweetList}">
    <div class="list-group-item list-group-item-action mt-2 shadow-sm ">
      <div class="row">

      <div class="col-1">
        <img src="/images/user_icon.png"
             width="50"
             height="50">
      </div>
      <div class="col">
        <div class="row d-flex ">
          <div class="col-auto" >
              <a th:href="@{/users/} + ${tweet.user.username}" class="d-flex w-100" style="color: #000">
                <h5 style="margin:inherit;"><b><span th:text="${tweet.user.firstName}"></span></b></h5>
                <h5 style="margin:inherit;" class="text-muted mx-1">@<span th:text="${tweet.user.username}"></span></h5>
              </a>

          </div>
          <div class="col-2">
            <small th:text="${tweet.date}" class="text-muted"></small>
          </div>
        </div>


        <p class="mb-1" th:utext="${tweet.message}"></p>
      </div>
      </div>
    </div>
  </div>


  <div th:if="${#lists.isEmpty(tweetList) and filter == 'all'}">
    <h3>No meeps have been created yet</h3>
  </div>
  <div th:if="${#lists.isEmpty(tweetList) and filter == 'following'}">
    <h3>No meeps have been created by your followers</h3>
  </div>
</main>
<footer th:replace="fragments::footer"></footer>

</body>
</html>